<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram</title>
  <link rel="stylesheet" href="styles/form.css">
</head>

<body>
  <div class="container">
    <div class="loginForm">
      <h1>Instagram</h1>
      <form action="/register" method="POST">
        <input type="email" placeholder="Email" name="email">
        <input type="text" placeholder="Full name" name="name">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input type="submit" name="submit" value="Register">
      </form>
    </div>
    <div class="redirect">
      <h2>Have an Account?</h2>
      <a href="/login">Login</a>
    </div>
  </div>
</body>

</html>